// Footer js
script(src="./js/libs/jquery/jquery-3.3.1.min.js")
script(src="./js/libs/jquery/jquery-migrate-3.0.1.min.js")
script(src="./js/libs/scroll-magic/TweenMax.min.js")
script(src="./js/libs/scroll-magic/ScrollMagic.min.js")
script(src="./js/libs/scroll-magic/animation.gsap.min.js")
script(src="./js/libs/scroll-magic/debug.addIndicators.min.js")
script(src="./js/libs/slick/slick.min.js")