/* modules */

.section {
  position: relative;
  overflow: hidden;
  &__content {
    &--app-top {
      max-width: 455px;
      margin-bottom: 50px;
    }
    &--app-bottom {
      margin-bottom: 40px;
    }
    &--what {
      max-width: 415px;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__header {
    &-info {
      color: $color-blue;
      text-transform: uppercase;
      line-height: 21px;
      font-weight: bold;
      margin-bottom: 27px;
    }
    &--center {
      text-align: center;
    }
    &--app-top {
      max-width: 550px;
    }
    &--white {
      .h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
        color: $color-white;
      }
    }
  }
  &__app {
    font-size: 0;
    &>a {
      display: inline-block;
      &+a {
        margin-left: 36px;
      }
      img {
        display: block;
      }
    }
  }
}

.app-top {
  // height: 665px;
  background: #F4F6F9;
  padding-top: 226px;
  padding-bottom: 164px;
  &__phones {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1920px;
    left: 50%;
    transform: translateX(-50%);
    // background: green;
    pointer-events: none;
    &>div {
      width: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      // background: pink;
    }
    img {
      position: absolute;
      filter: drop-shadow(-10px 20px 15px rgba($color-black, .6));
    }
    .app-top__img {
      &1 {
        bottom: 39px;
        left: -55px;
      }
      &2 {
        bottom: 433px;
        left: 174px;
      }
      &3 {
        bottom: 39px;
        left: 223px;
      }
      &4 {
        bottom: 417px;
        left: 447px;
      }
      &5 {
        bottom: 39px;
        left: 500px;
      }
    }
  }
}

.what-it {
  min-height: 592px;
  padding-top: 135px;
  padding-bottom: 120px;
  background: url('../images/bg-what.jpg') top center no-repeat;
  background-size: cover;
  &__wrapper {
    @include clearfix;
    margin: 0 -10px;
    &>div {
      width: 50%;
      padding: 0 10px;
      float: left;
      &.last {
        padding-left: 77px;
      }
    }
  }
  &__card {
    width: 360px;
    height: 218px;
    position: relative;
    border-radius: 5px;
    background: $color-white;
    box-shadow: 0 22px 48px rgba($color-black,.5);
    overflow: hidden;
    z-index: 5;
    img {
      display: block;
    }
    &+div {
      margin-top: -30px;
      margin-left: 107px;
      z-index: 2;
    }
  }
}

.match {
  position: relative;
  overflow: hidden;
  height: 100%;
  &__top {
    height: 168px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  &__bottom {
    position: absolute;
    width: 100%;
    height: 50px;
    background: #EEEEEE;
    bottom: 0;
    left: 0;
    padding: 0 16px;
    line-height: 50px;
    font-size: 18px;
  }
  &__logo {
    position: absolute;
    left: 200px;
    top: 46px;
    width: 143px;
    height: 84px;
    object-fit: contain;
  }
  &__content {
    width: 190px;
    padding-left: 16px;
    color: $color-black;
    font-size: 17px;
    p {
      line-height: 21px;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      time {
        color: #4F4F4F;
      }
    }
  }
  &__turn {
    height: 12px;
    width: 28px;
    position: absolute;
    top: 19px;
    right: 26px;
    background: #979797;
    border-radius: 35px;
    margin: 0;
    cursor: pointer;
    input {
      display: none;
      &~span {
        position: absolute;
        height: 20px;
        width: 20px;
        background: $color-white;
        border-radius: 50%;
        left: -6px;
        top: -5px;
        box-shadow: 0px 2.09791px 2.09791px rgba($color-black, 0.25);
        transform: translateX(0);
        transition: all 0.15s;
      }
      &:checked {
        &~span {
          transform: translateX(20px);
          background: $color-blue;
        }
      }
    }
  }
}

.interface {
  padding-top: 215px;
  padding-bottom: 170px;
  .section {
    &__header, &__content {
      position: relative;
      z-index: 10;
    }
  }
  &__wrapper {
    @include clearfix;
    display: flex;
    align-items: center;
    margin: 0 -10px;
    &>div {
      padding: 0 10px;
      width: 50%;
    }
  }
  &__img {
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(-50%,-55%);
    filter: drop-shadow(0px 20px 15px rgba($color-black, .4));
    img {
      display: block;
    }
    &>div {
      position: absolute;
      left: 17px;
      top: 61px;
      width: 224px;
      height: 396px;
      overflow: hidden;
    }
  }
  &__divs {
    position: relative;
    float: right;
    width: 0px;
    height: 0px;
    margin-right: 248px;
  }
  &__round {
    &>div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      border: 1px dashed $color-blue;
      border-radius: 50%;
      width: 400px;
      height: 400px;
      &:nth-child(2) {
        width: 600px;
        height: 600px;
      }
      &:nth-child(3) {
        width: 800px;
        height: 800px;
        border-color: rgba($color-blue,.15);
        border-style: solid;
      }
      &:nth-child(4) {
        width: 1000px;
        height: 1000px;
        border-color: rgba($color-blue,.13);
        border-style: solid;
      }
      &:nth-child(5) {
        width: 1200px;
        height: 1200px;
        border-color: rgba($color-blue,.11);
        border-style: solid;
      }
      &:nth-child(6) {
        width: 1400px;
        height: 1400px;
        border-color: rgba($color-blue,.09);
        border-style: solid;
      }
      &:nth-child(7) {
        width: 1600px;
        height: 1600px;
        border-color: rgba($color-blue,.08);
        border-style: solid;
      }
      &:nth-child(8) {
        width: 1800px;
        height: 1800px;
        border-color: rgba($color-blue,.05);
        border-style: solid;
      }
      &:nth-child(9) {
        width: 2000px;
        height: 2000px;
        border-color: rgba($color-blue,.01);
        border-style: solid;
      }
    }
  }
  &__icon {
    position: absolute;
    z-index: 50;
    overflow: hidden;
    background: $color-blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 8px solid $color-white;
    box-shadow: 0px 3.13793px 15.6897px rgba($color-black, 0.15), 0px 2.51034px 6.27586px rgba(51, 51, 51, 0.1);
    &>div {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &.is-active {
      height: 90px;
      width: 90px;
      transform: translate(-30px, -30px);
      border-width: 0;
      background: $color-white;
      &>div {
        opacity: 1;
        visibility: visible;
        svg {
          display: block;
        }
      }
    }
    &--one {
      left: -261px;
      top: 154px;
    }
    &--two {
      left: -152px;
      bottom: 130px;
      &.is-active {
        transform: translate(-30px, 30px);
      }
    }
    &--three {
      left: 112px;
      top: 137px;
    }
    &-number {
      position: absolute;
      z-index: 5;
      width: 22px;
      height: 22px;
      line-height: 22px;
      color: $color-white;
      border-radius: 50%;
      background: $color-blue;
      font-size: 15px;
      text-align: center;
      right: -5px;
    }
  }
}

.features {
  background: {
    color: $color-blue;
    position: top center;
    image: url('../images/bg-features.png');
    repeat: no-repeat;
    size: cover;
  }
  color: $color-white;
  padding-bottom: 15px;

  .section__header {
    padding-bottom: 25px;
    h2, .h2 {
      color: $color-white;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    &>div {
      width: 33.3%;
      padding: 0 10px;
    }
  }
  &__block {
    margin-bottom: 45px;
    padding-right: 45px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        width: 6px;
        height: 6px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: 2px;
        background: $color-white;
        border-radius: 50%;
      }
    }
    img, svg {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.featured {
  background: #fafafa;
  padding-bottom: 40px;
  padding-top: 60px;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
    &>div {
      margin: 0 35px;
    }
  }
  &__block {
    margin-bottom: 20px;
    display: block;
    img {
      display: block;
    }
  }
  .section__header {
    padding-bottom: 40px;
  }
}

.users-say {
  padding-top: 65px;
  padding-bottom: 100px;

  .section__header {
    padding-bottom: 25px;
  }

  &__carousel {
    position: relative;
    &::before, &::after {
      content: '';
      width: 134px;
      position: absolute;
      height: 100%;
      background: linear-gradient(to right, $color-white, rgba($color-white,0));
      top: 0;
      left: 0;
      z-index: 20;
    }
    &::after {
      background: linear-gradient(to left, $color-white, rgba($color-white, 0));
      left: inherit;
      right: 0;
    }
    .slick {
      &-slide {
        width: 310px;
        margin-right: 35px;
        &:focus {
          outline: none;
        }
      }
      &-arrow {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        z-index: 25;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background: $color-white;
        border: 1px solid $color-blue;
        box-shadow: 0px 5px 10px rgba($color-black,.1), 0px 10px 10px rgba($color-black,.25);
        font-size: 0;
        padding: 0;
        transition: all 0.35s;
        img {
          width: 14px;
          height: 14px;
        }
        &:hover {
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }
      }
      &-next {
        right: 102px;
      }
      &-prev {
        left: 102px;
      }
      &-dots {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        bottom: -50px;
        li {
          float: left;
          list-style: none;
          margin: 0 5px;
          height: 11px;
          button {
            padding: 0;
            font-size: 0;
            height: 11px;
            width: 11px;
            border-radius: 50%;
            overflow: hidden;
            border: 0;
            vertical-align: 17px;
            background: #F7F7F7;
          }
          &.slick-active {
            button {
              background: #828282;
            }
          }
        }
      }
    }
  }
  &__block {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    background: $color-white;
    padding: 17px;
    min-height: 160px;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    p {
      line-height: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-head {
      height: 30px;
      margin-bottom: 18px;
      display: flex;
      align-items: center;
      font-weight: bold;
      &>div {
        &:first-child {
          width: 30px;
          flex-shrink: 0;
        }
        &+div {
          padding-left: 10px;
        }
      }
      a {
        text-decoration: none;
        color: #333;
        &:hover {
          color: $color-blue;
        }
      }
    }
    &-img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      background: $color-white;
      border: 2px solid $color-blue;
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
    &-icon {
      position: absolute;
      right: 15px;
      top: 24px;
    }
  }
}

.app-bottom {
  padding-top: 105px;
  padding-bottom: 100px;
  &__phones {
    position: absolute;
    top: 0;
    width: 1920px;
    left: 50%;
    transform: translateX(-50%);
    img {
      position: absolute;
      filter: drop-shadow(-10px 20px 15px rgba(0, 0, 0, .6));
      left: 0;
      top: 0;
    }
    .app-bottom {
      &__img1 {
        left: -170px;
        top: -485px;
      }
      &__img2 {
        top: 45px;
        left: 130px;
      }
    }
  }
  &__wrapper {
    margin: 0 -10px;
    display: flex;
    &>div {
      width: 50%;
      float: left;
      padding: 0 10px;
      &.last {
        padding-left: 20px;
      }
    }
  }
  .section__header {
    padding-bottom: 10px;
  }
}