// Footer
footer.footer
  .container
    
    .footer__wrapper
      div
        .footer__logo
      div
        .footer__nav
      div
        .footer__social
          a(href="#!") 1
          a(href="#!") 2
          a(href="#!") 3
  
