// Footer
footer.footer
  .container
    
    .footer__wrapper
      div
        .footer__logo
          img(src="./images/footer-logo.svg" alt="").svg-to-inline
      div
        .footer__nav
          ul
            li: a(href="#!") Download
            li: a(href="#!") Support
            li: a(href="#!") Developers
            li: a(href="#!") Privacy
      div
        .footer__social
          a(href="#!")
            img(src="./images/social/icon-twitter.svg", alt="").svg-to-inline
          a(href="#!")
            img(src="./images/social/icon-facebook.svg", alt="").svg-to-inline
          a(href="#!")
            img(src="./images/social/icon-instagram.svg", alt="").svg-to-inline
  
