// Footer js
script(src="./js/libs/jquery/jquery-2.2.4.min.js")
script(src="./js/libs/jquery/jquery-migrate-1.4.1.min.js")
script(src="./js/libs/jquery-svg-to-inline.min.js")
script(src="./js/libs/slick/slick.min.js")