// Footer
footer.footer
  .container
    
    .footer__wrapper
      div
        .footer__logo
          +footerLogo
      div
        .footer__nav
          ul
            li: a(href="#!") Download
            li: a(href="#!") Support
            li: a(href="#!") Developers
            li: a(href="#!") Privacy
      div
        .footer__social
          a(href="#!")
            +socialTwitter
          a(href="#!")
            +socialFacebook
          a(href="#!")
            +socialInstagram
  
