/*==========  Desktop First Method  ==========*/

@media only screen and (min-width: 1999px) {}

@media only screen and (max-width: 1599px) {}

@media only screen and (max-width: 1439px) {}

@media only screen and (max-width: 1199px) {
  .features {
    &__block {
      padding-right: 0;
    }
  }
}

@media only screen and (max-width: 991px) {
  .app-top {
    &__phones {
      &>div {
        width: 40%;
      }
    }
  }
  .what-it {
    &__card {
      &+div {
        margin-left: 45px;
      }
    }
  }
  .interface {
    &__div {
      margin-right: 115px;
    }
  }
  .features {
    &__row {
      &>div {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .app-top {
    &__phones {
      display: none;
    }
  }
  .section {
    &__header, &__content, &__app {
      text-align: center;
      max-width: inherit !important;
    }
    &__app {
      &>a {
        &+a {
          margin-left: 28px;
        }
      }
      img {
        width: 145px;
        height: 44px;
      }
    }
  }
  h1, .h1 {
    font-size: 30px;
    line-height: 1.33;
  }
  .app-top {
    padding-top: 150px;
    padding-bottom: 60px;
  }
  .header {
    text-align: center;
    &__logo {
      margin-top: 32px;
      img, svg {
        margin: 0 auto;
      }
    }
  }
  .what-it {
    padding-top: 55px;
    padding-bottom: 40px;
    background: {
      image: url('../images/bg-what-mobile.jpg');
      position: bottom center;
      size: contain;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      margin: 0;
      &>div {
        float: none;
        padding: 0 10px !important;
        &.first {
          order: 2;
          padding-top: 90px !important;
          width: 100%;
          max-width: 426px;
        }
        &.last {
          order: 1;
          width: 100%;
        }
      }
    }
  }
  .interface {
    padding-top: 60px;
    padding-bottom: 595px;
    &__wrapper {
      flex-direction: column;
      &>div {
        width: 100%;
      }
    }
    &__div {
      right: 50%;
      transform: translateX(50%);
      bottom: -290px;
      margin-right: 0;
    }
    &__img {
      transform: translateX(-50%) translateY(-164px);
      &>img {
        width: 202px;
        height: 412px;
      }
      &>div {
        left: 11px;
        top: 49px;
        img {
          width: 180px
        }
      }
    }
    &__icon {
      &.is-active {
        width: 70px;
        height: 70px;
        svg {
          width: 30px;
          height: auto;
        }
      }
    }
    &__round {
      &>div {
        width: 315px;
        height: 315px;
        &:nth-child(2) {
          height: 475px;
          width: 475px;
        }
        &:nth-child(3) {
          width: 625px;
          height: 625px;
        }
        &:nth-child(4) {
          width: 775px;
          height: 775px;
        }
        &:nth-child(5) {
          width: 925px;
          height: 925px;
        }
        &:nth-child(6) {
          width: 1075px;
          height: 1075px;
        }
        &:nth-child(7) {
          width: 1225px;
          height: 1225px;
        }
        &:nth-child(8) {
          width: 1375px;
          height: 1375px;
        }
      }
    }
    &__icon {
      &--one {
        left: -275px;
      }
      &--two {
        left: -83px;
      }
      &--three {
        left: 92px;
        top: 113px;
        &.is-active {
          svg {
            width: 25px;
          }
        }
      }
    }
  }
  .features {
    background: #FAFAFA;
    color: $primary-color;
    .section__header {
      .h2, h2 {
        color: #444;
      }
    }
    &__row {
      &>div {
        width: 100%;
      }
    }
    &__block {
      text-align: center;
      img, svg {
        margin-left: auto;
        margin-right: auto;
      }
      path {
        fill: $color-blue;
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .what-it {
    &__wrapper {
      &>div {
        padding: 0 !important;
        &.first {
          max-width: 330px;
        }
      }
    }
    &__card {
      width: 248px;
      height: 150px;
      &--video {
        img {
          width: 100%;
        }
      }
      &+div {
        margin-left: 82px;
        margin-top: -20px;
      }
    }
  }
  .match {
    &__top {
      height: 115px;
    }
    &__bottom {
      height: 33px;
      line-height: 33px;
      font-size: 13px;
      padding: 0 10px;
    }
    &__turn {
      width: 18px;
      height: 8px;
      right: 13px;
      top: 13px;
      input {
        &~span {
          width: 14px;
          height: 14px;
          left: -5px;
          top: -4px;
        }
        &:checked {
          &~span {
            transform: translateX(15px);
          }
        }
      }
    }
    &__logo {
      width: 98px;
      height: 58px;
      left: 140px;
      top: 31px;
    }
    &__content {
      padding-left: 10px;
      font-size: 12px;
      width: 130px;
      p {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 319px) {}

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media only screen and (min-width: 1440px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (min-width: 1920px) {}