/*==========  Desktop First Method  ==========*/

@media only screen and (min-width: 1999px) {}

@media only screen and (max-width: 1599px) {}

@media only screen and (max-width: 1439px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
  .app-top {
    &__phones {
      &>div {
        width: 40%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .app-top {
    &__phones {
      display: none;
    }
  }
  .section {
    &__header, &__content, &__app {
      text-align: center;
      max-width: inherit !important;
    }
    &__app {
      &>a {
        &+a {
          margin-left: 28px;
        }
      }
      img {
        width: 145px;
        height: 44px;
      }
    }
  }
  h1, .h1 {
    font-size: 30px;
    line-height: 1.33;
  }
  .app-top {
    padding-top: 150px;
    padding-bottom: 60px;
  }
  .header {
    text-align: center;
    &__logo {
      margin-top: 32px;
      img, svg {
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width: 479px) {}

@media only screen and (max-width: 319px) {}

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media only screen and (min-width: 1440px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (min-width: 1920px) {}