$primary-color: #4F4F4F;

$link-color: #00ADEE;

$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-red: red;
$color-pink: pink;
$color-blue: #00ADEE;
$color-dark: #333;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-lato: 'Lato';